%table{border: '1', width: '200', style: "font-size: 12px;"}
  %thead
    %tr
      %th file_number
      %th api_number
      %th operator_name
      %th township
      %th township_bearing
      %th range
      %th range_bearing
      %th section
      %th state
      %th field_name
      %th spudded_on
      %th completed_on
      %th well_name
      %th well_number
      %th well_type
      %th formation
      %th status
      %th elevation
      %th depth
      %th geom
  %tbody
    = render @wells





















