%tr
  %td
    =production.api_number
  %td
    =production.reported_on
  %td
    =production.barrels_oil
  %td
    =production.mcf_gas
  %td
    =production.barrels_water
  %td
    =production.days_producing
