%table{border: '1', width: '200', style: "font-size: 12px;"}
  %thead
    %tr
      %th api_number
      %th reported_on
      %th barrels_oil
      %th mcf_gas
      %th barrels_water
      %th days_producing
  %tbody
    = render @productions
