%td "permit.file_number"
%td "permit.api_number"
%td "permit.operator_name"
%td "permit.township"
%td "permit.township_bearing"
%td "permit.range"
%td "permit.range_bearing"
%td "permit.section"
%td "permit.state"
%td "permit.field_name"
%td "permit.effective_on"
%td "permit.action_type"
%td "permit.slant"
%td "permit.target_formation"
%td "permit.elevation"
%td "permit.depth"
%td "permit.countyfips"
%td "permit.well_status"
